.book{
    width: 250px;
    height: 250px;
    background-color: bisque;
    border: 2px solid red;
    border-radius: 20px;
    text-align: center;
    padding: 20px;
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-basis: 30%;
}