.header{
  width: 100vw;
  height: 10vh;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
}
.bookstore{
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;

}
.navbar{
  width: 100vw;
  height: 4vh;
  
}
.home{
  width: 100vw;
  height: 84vh;
}
.footer{
  width: 100vw;
  height: 6vh;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}